<div class="container video-container">
    <div class="row">
        <input placeholder="Search Videos" type="text" class="form-control">
        <div *ngFor="let video of videos" class="col-md-3">
            <div class="card mt-3">
                <video src="{{video.source}}" controls class="card-img-top"></video>
                <div class="card-body">
                    <p class="card-text title">{{ video.title }}</p>
                    <div class="row">
                        <p class="card-text"> {{ video.uploadedBy }} </p>
                        <p class="card-text">{{video.views | number}} views</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>